/* ===========================
   Home
   =========================== */

body {
  transition: background-color 0.5s ease-in-out;

  &.pink-page {
    header {
      a.logo-container {
        svg {
          fill: $theme_pink;
        }

        p {
          color: $theme_pink_darkest;
        }
      }
    }

    .slide-light {
      background-color: $theme_pink;
    }

    background-color: $theme_pink_faded;

    a:hover,
    a:focus {
      color: $theme_pink;
    }

    a:active {
      color: $theme_pink;
    }
  }

  &.yellow-page {
    header {
      a.logo-container {
        svg {
          fill: $theme_yellow;
        }

        p {
          color: $theme_yellow_darkest;
        }
      }
    }

    .slide-light {
      background-color: $theme_yellow;
    }

    background-color: $theme_yellow_faded;


    a:hover,
    a:focus {
      color: $theme_yellow;
    }

    a:active {
      color: $theme_yellow;
    }
  }

  &.turquoise-page {
    header {
      a.logo-container {
        svg {
          fill: $theme_turquoise;
        }

        p {
          color: $theme_turquoise_darkest;
        }
      }
    }

    .slide-light {
      background-color: $theme_turquoise;
    }

    background-color: $theme_turquoise_faded;

    a:hover,
    a:focus {
      color: $theme_turquoise;
    }

    a:active {
      color: $theme_turquoise;
    }
  }

  &.blue-page {
    header {
      a.logo-container {
        svg {
          fill: $theme_blue;
        }

        p {
          color: $theme_blue_darkest;
        }
      }
    }

    .slide-light {
      background-color: $theme_blue;
    }

    background-color: $theme_blue_faded;


    a:hover,
    a:focus {
      color: $theme_blue;
    }

    a:active {
      color: $theme_blue;
    }
  }

  &.purple-page {
    header {
      a.logo-container {
        svg {
          fill: $theme_purple;
        }

        p {
          color: $theme_purple_darkest;
        }
      }
    }

    .slide-light {
      background-color: $theme_purple;
    }

    background-color: $theme_purple_faded;


    a:hover,
    a:focus {
      color: $theme_purple;
    }

    a:active {
      color: $theme_purple;
    }
  }

  &.orange-page {
    header {
      a.logo-container {
        svg {
          fill: $theme_orange;
        }

        p {
          color: $theme_orange_darkest;
        }
      }
    }

    .slide-light {
      background-color: $theme_orange;
    }

    background-color: $theme_orange_faded;
  }

  .trans-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 40;
    opacity: 0;
    background-color: $theme_almost_white;
  }
}

header {
  display: flex;
  position: relative;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 3vh $page_horizontal_padding;
  margin: auto;
  z-index: 35;

  @media screen and (max-width: $small_screen_width) {
    padding: 1vh 2%;
  }

  > a, a:link {
    text-transform: uppercase;
    font-size: 180%;
    color: $theme_grey;

    &.logo-container {
      position: relative;
      vertical-align: center;

      svg {
        transition: all 0.3s ease-in-out;
      }

      p {
        position: absolute;
        width: 100%;
        text-align: center;
        height: 100%;
        top: 0;
        line-height: 6.3rem;
        font-family: "PT Banana Split", Arial, sans-serif;
        font-size: 225%;
        font-style: normal;
        color: $theme_grey;
        transform: translateX(-2%);
        transition: all 0.3s ease-in-out;
      }
    }
  }

  #menu-hamburger {
    margin: 10px;
  }

  .icon-menu-toggle {
    width: 4em;
    height: 4em;
    top: 0;
  }

  .icon {
    display: inline-block;
    fill: currentColor;
    height: 2em;
    width: 2em;
    vertical-align: middle;
    position: relative; /* Align more nicely with capital letters */
    top: -0.0625em;
  }

}

.menu-container {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  opacity: 0;
  background: white;
  z-index: 30;
  width: 100%;
  height: 100%;
  transform: translateY(-200%);
  transition: opacity 0.5s ease-in-out, transform 0s ease-in-out 0.5s;

  &[data-expanded=true] {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
    transform: translateY(0);
  }

  p {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: $theme_grey;

    a {
      color: $theme_grey;
    }
  }

  nav {
    height: 100%;

    ul {
      height: 100%;
      display: flex;
      flex-direction: column;
      text-align: center;
      justify-content: center;

      li {
        display: block;
        width: 100%;
        height: 3.5rem;
        transform: translateY(-10px);
        opacity: 0;

        a {
          font-family: $header_font_stack;
          letter-spacing: 3px;
          font-size: 300%;
          text-transform: uppercase;
          cursor: pointer;
        }
      }

      @media screen and (min-width: $nano_screen_width) {
        li {
          height: 3.5rem;

          a {
            font-size: 300%;
          }
        }
      }

      @media screen and (min-width: $micro_screen_width) {
        li {
          height: 5rem;

          a {
            max-width: $tablet_slider_width;
            font-size: 400%;
          }
        }
      }

      @media screen and (min-width: $big_screen_width) {
        li {
          a {
            max-width: $desktop_slider_width;
          }
        }

      }

      @media screen and (orientation: landscape) and (max-height: $small_screen_width) {
        margin-top: 6%;
        li {
          height: 3rem;

          a {
            font-size: 250%;
          }
        }
      }
    }
  }

}

section {
  margin-top: 1vh;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;

  h1 {
    font-family: $header_font_stack;
    letter-spacing: 3px;
    font-weight: 400;
    font-size: 200%;
    text-transform: uppercase;
    max-width: $mobile_slider_width;
    margin: auto;

    @media screen and (min-width: $nano_screen_width) {
      font-size: 300%;
    }

    @media screen and (min-width: $micro_screen_width) {
      max-width: $tablet_slider_width;
      font-size: 350%;
    }

    @media screen and (min-width: $tiny_screen_width) {
      max-width: $tablet_slider_width;
      font-size: 400%;
    }

    @media screen and (min-width: $big_screen_width) {
      max-width: $desktop_slider_width;
    }

  }

}

@media screen and (orientation: landscape) and (max-height: $small_screen_width) {
  main {
    position: absolute;
    bottom: 0;
    height: 100vh;
    width: 100%;
  }

  header {
    max-height: 40vh;
  }

  .menu-container {
    p {
      display: none;
    }
  }

  section {
    h1 {
      font-size: 180%;
      max-width: none;
      text-align: center;
      padding: 0 5%;
    }

    .album-name {
      position: relative;
      width: 40%;
      margin-top: 5%;
      margin-bottom: 5%;
      margin-right: auto;
      margin-left: auto;
    }
  }
}


#per-tu-per-mi {
  height: 80vh;
  width: 100%;

  .album-name {
    background-color: white;
    padding: 0.5rem;
  }
}

