@charset "UTF-8";

// ----------------------
// Site settings
// ----------------------

$wrapper-width: 400px;
$header_height: 110px;
$mobile_menu_min_width: 1000px;
$page_horizontal_padding: 40px;

$mobile_slider_width: 80%;
//$tablet_slider_width: 350px;
//$mid_slider_width: 600px;
//$desktop_slider_width: 800px;
$tablet_slider_width: 60%;
$desktop_slider_width: 50%;


// Fonts
$base_font_stack: "Alegreya Sans", "Helvetica", Arial, sans-serif;
$header_font_stack: "Girassol", Times New Roman, serif;

// Responsive breakpoints, change these as you see fit
$huge_screen_width: 1440px;
$big_screen_width: 1110px;
$bigish_screen_width: 900px;
$medium_screen_width: 800px;
$small_screen_width: 680px;
$tiny_screen_width: 600px;
$micro_screen_width: 520px;
$nano_screen_width: 350px;

// Colors
// -----------------------------
$theme_blue: rgb(99, 167, 196);
$theme_blue_darker: rgb(92, 157, 184);
$theme_blue_darkest: rgb(46, 117, 145);
$theme_blue_shadow: rgba(99, 167, 196, 0.2);
$theme_blue_faded: rgb(194, 229, 242);

$theme_purple: rgb(156, 136, 182);
$theme_purple_darker: rgb(132, 99, 171);
$theme_purple_darkest: rgb(100, 65, 140);
$theme_purple_shadow: rgba(156, 136, 182, 0.2);
$theme_purple_faded: rgb(236, 225, 250);

$theme_pink: rgb(208, 155, 182);
$theme_pink_darker: rgb(197, 125, 178);
$theme_pink_darkest: rgb(169, 88, 151);
$theme_pink_shadow: rgba(208, 155, 182, 0.2);
$theme_pink_faded: rgb(242, 218, 231);

$theme_orange: rgb(218, 154, 104);
$theme_orange_darker: rgb(207, 136, 77);
$theme_orange_darkest: rgb(211, 113, 53);
$theme_orange_shadow: rgba(218, 154, 104, 0.2);
$theme_orange_faded: rgb(242, 215, 194);

$theme_yellow: rgb(227, 196, 85);
$theme_yellow_darker: rgb(219, 184, 60);
$theme_yellow_darkest: rgb(194, 156, 29);
$theme_yellow_shadow: rgba(227, 196, 85, 0.1);
$theme_yellow_faded: rgb(247, 232, 186);

$theme_turquoise: rgb(155, 215, 192);
$theme_turquoise_darker: rgb(108, 194, 152);
$theme_turquoise_darkest: rgb(64, 156, 113);
$theme_turquoise_shadow: rgba(155, 215, 192, 0.2);
$theme_turquoise_faded: rgb(218, 242, 233);


$theme_almost_white: #F4EDEE;
$theme_grey: #C4C4C4;
$theme_almost_black: #211E1E;