@charset "UTF-8";

// ----------------------
// Site settings
// ----------------------

$wrapper-width: 400px;
$header_height: 110px;
$mobile_menu_min_width: 1000px;
$page_horizontal_padding: 40px;

$mobile_slider_width: 300px;
$mid_slider_width: 400px;
$desktop_slider_width: 600px;

// Fonts
$base_font_stack: "Anton", "Helvetica", Arial, sans-serif;

// Responsive breakpoints, change these as you see fit
$huge_screen_width: 1440px;
$big_screen_width: 1110px;
$bigish_screen_width: 900px;
$medium_screen_width: 800px;
$small_screen_width: 680px;
$tiny_screen_width: 600px;
$micro_screen_width: 430px;
$nano_screen_width: 320px;

// Colors
// -----------------------------
$theme_turquoise: #6BDCC2;
$theme_turquoise_dark: #62bca4;
$theme_turquoise_darkest: #309288;
$theme_turquoise_shadow: rgba(31, 103, 103, 0.2);
$theme_yellow: #FFF9BD;
$theme_yellow_dark: #f5e48f;
$theme_yellow_darkest: #eed24b;
$theme_yellow_shadow: rgba(175, 83, 0, 0.1);
$theme_pink: #FFB0B3;
$theme_pink_dark: #ffa5a9;
$theme_pink_darkest: #F18D8F;
$theme_pink_shadow: rgba(161, 75, 128, 0.2);
$theme_almost_white: #F4EDEE;
$theme_almost_black: #211E1E;
$theme_grey: #C4C4C4;