/* ===========================
   Slides
   =========================== */

.slider-container {
  width: 100%;
  height: 85%;
  margin-top: 1.5em;

  .holder {
    height: 100%;
    width: 80vw;
    max-width: $mobile_slider_width;
    margin: auto;


    .slide-container {
      display: inline-block;
      width: $mobile_slider_width;
      position: absolute;
      height: 60vh;
      transition: all 0.4s ease-out;
      opacity: 0.4;

      &[data-index="-4"], &[data-index="-3"], &[data-index="-2"], &[data-index="2"], &[data-index="3"], &[data-index="4"] {
        opacity: 0;
      }

      &[data-index="-2"] {
        transform: translateX(-100vw) scale(0.8);
      }

      &[data-index="-1"] {
        transform: translateX(-50vw) scale(0.8);
      }

      &[data-index="0"] {
        z-index: 15;
        opacity: 1;
        transform: translateX(0) scale(1);

        .slide.slide-light {
          opacity: 1;

          .play-container {
            transform: scale(0.7);

            svg.play-icon {
              opacity: 1;
            }
          }
        }

        &.slide-blue {
          .slide-light {
            background: $theme_blue;
            box-shadow: 0 10px 10px -5px $theme_blue_darkest;
          }

          .slide-shadow {
            background: $theme_blue_darker;
            box-shadow: 0 10px 10px -5px $theme_blue_shadow;
          }

          .slide-dropdown {
            background: $theme_blue_darkest;
            box-shadow: 5px 5px 10px $theme_blue_shadow;
          }
        }

        &.slide-purple {
          .slide-light {
            background: $theme_purple;
            box-shadow: 0 10px 10px -5px $theme_purple_darkest;
          }

          .slide-shadow {
            background: $theme_purple_darker;
            box-shadow: 0 10px 10px -5px $theme_purple_shadow;
          }

          .slide-dropdown {
            background: $theme_purple_darkest;
            box-shadow: 5px 5px 10px $theme_purple_shadow;
          }
        }

        &.slide-yellow {
          .slide-light {
            background: $theme_yellow;
            box-shadow: 0 10px 10px -5px $theme_yellow_darkest;
          }

          .slide-shadow {
            background: $theme_yellow_darker;
            box-shadow: 0 10px 10px -5px $theme_yellow_shadow;
          }

          .slide-dropdown {
            background: $theme_yellow_darkest;
            box-shadow: 5px 5px 10px $theme_yellow_shadow;
          }
        }

        &.slide-orange {
          .slide-light {
            background: $theme_orange;
            box-shadow: 0 10px 10px -5px $theme_orange_darkest;
          }

          .slide-shadow {
            background: $theme_orange_darker;
            box-shadow: 0 10px 10px -5px $theme_orange_shadow;
          }

          .slide-dropdown {
            background: $theme_orange_darkest;
            box-shadow: 5px 5px 10px $theme_orange_shadow;
          }
        }

        &.slide-turquoise {
          .slide-light {
            background: $theme_turquoise;
            box-shadow: 0 10px 10px -5px $theme_turquoise_darkest;
          }

          .slide-shadow {
            background: $theme_turquoise_darker;
            box-shadow: 0 10px 10px -5px $theme_turquoise_shadow;
          }

          .slide-dropdown {
            background: $theme_turquoise_darkest;
            box-shadow: 5px 5px 10px $theme_turquoise_shadow;
          }
        }

        &.slide-pink {
          .slide-light {
            background: $theme_pink;
            box-shadow: 0 10px 10px -5px $theme_pink_darkest;
          }

          .slide-shadow {
            background: $theme_pink_darker;
            box-shadow: 0 10px 10px -5px $theme_pink_shadow;
          }

          .slide-dropdown {
            background: $theme_pink_darkest;
            box-shadow: 5px 5px 10px $theme_pink_shadow;
          }
        }

        .slide.slide-light {
          height: 5%;
          border-radius: 20px 20px 0 0;
          bottom: 20%;
        }

        .slide.slide-shadow {
          height: 10%;
          box-shadow: 0 10px 10px -5px rgba(0.5, 0.5, 0.5, 0.2);
          border-radius: 20px 20px 0 0;
          bottom: 15%;
        }

        .slide.slide-dropdown {
          height: 25%;
          box-shadow: 0 10px 10px -5px rgba(0.5, 0.5, 0.5, 0.2);
        }
      }

      &[data-index="1"] {
        transform: translateX(50vw) scale(0.8);
      }

      &[data-index="2"] {
        transform: translateX(100vw) scale(0.8);
      }

      &:active {
        .slide-light {
          .play-container {
            transform: scale(0.3);
          }

          svg.play-icon {
            opacity: 0.5;
            transform: translate(-50%, -50%) scale(0.8);
            fill: white;
            transition: all 0.4s ease-out;
          }
        }
      }

      .blobs {
        height: 50%;
        width: 80%;
        margin: 10% auto;
      }

      .slide {
        height: 100%;
        width: 100%;
        border-radius: 20px;
        position: absolute;
        bottom: 0;
        left: 0;
        transition: all 0.3s ease-out;

        &.slide-light {
          z-index: 10;
          height: 15%;
          box-shadow: none;
          display: flex;
          justify-content: center;
          //position: relative;

          .play-container {
            transform: scale(0.5);
            transition: all 0.4s ease-out;
          }

          svg.play-icon {
            opacity: 0;
            position: absolute;
            top: 50%;
            bottom: 50%;
            transform: translate(-50%, -50%);
            fill: white;
            transition: all 0.4s ease-out;
          }
        }

        &.slide-shadow {
          z-index: 9;
          height: 15%;
          box-shadow: none;
        }

        &.slide-dropdown {
          z-index: 8;
          height: 15%;

          h2 {
            position: absolute;
            bottom: 0;
            font-size: 500%;
            letter-spacing: 5px;
            //font-style: italic;
            text-transform: uppercase;
            color: #fff;
            text-shadow: 0 3px 3px rgba(0.5, 0.5, 0.5, 0.2);
            width: 100%;
            margin-bottom: 0.5em;
            margin-left: 0.6em;
            font-family: "Anton", sans-serif;
            line-height: 1em;

            @media screen and (max-width: $small_screen_width) {
              font-size: 200%;
            }
          }
        }

      }


    }


    @media screen and (orientation: landscape) and (max-width: $small_screen_width) {
      .slide-container {
        height: 70vh;

        &[data-index="0"] {
          .slide.slide-light {
            height: 10%;
            bottom: 40%
          }

          .slide.slide-shadow {
            height: 20%;
            bottom: 30%;
          }

          .slide.slide-dropdown {
            height: 50%;
          }
        }
      }
    }

    @media screen and (min-width: $big_screen_width) {
      max-width: $mid_slider_width;

      .slide-container {
        width: $mid_slider_width;
      }
    }

    @media screen and (min-width: $huge_screen_width) {
      max-width: $desktop_slider_width;

      .slide-container {
        width: $desktop_slider_width;
      }
    }
  }
}