/* ===========================
   Slides
   =========================== */

.slider-container {
  width: 100%;
  height: 80%; // 85%
  margin-top: 1.5em;
  position: relative;

  @media screen and (min-device-width: 500px) {
    height: 90%;
  }

  .next-slide, .last-slide {
    position: absolute;
    width: 40px;
    height: 40px;
    background: white;
    text-align: center;
    z-index: 20;
    cursor: pointer;
    padding: 5px;

    img {
      transition: all 0.5s ease-in-out;
      transform: translateX(0);

      &.last-icon {
        transform: translateX(0) rotate(180deg);
      }
    }

    @media screen and (min-width: $medium_screen_width) {

      &:hover {
        &.next-slide img {
          transform: translateX(5px);
        }

        &.last-slide img {
          transform: translateX(-5px) rotate(180deg);
        }

        img {
          opacity: 0.5;
          transition: all 0.5s ease-in-out;
        }
      }
    }
  }

  .last-slide {
    left: 0;
    top: 40%;
  }

  .next-slide {
    right: 0;
    top: 40%;
  }

  .holder {
    height: 100%;
    width: 80vw;
    max-width: $mobile_slider_width;
    margin: auto;

    .slide-container {
      display: inline-block;
      width: $mobile_slider_width;
      position: absolute;
      height: 80%;
      transition: all 0.4s ease-out, opacity 0.2s ease-in-out;
      opacity: 0.4;
      overflow: hidden;

      // COLOUR BASED STYLES

      &.slide-blue {
        .images .centered-container .center-image:before {
          background: $theme_blue;
          background: linear-gradient(90deg, $theme_blue 0%, $theme_blue_darkest 100%);
        }
      }

      &.slide-purple {
        .images .centered-container .center-image:before {
          background: $theme_purple;
          background: linear-gradient(90deg, $theme_purple 0%, $theme_purple_darkest 100%);
        }
      }

      &.slide-yellow {
        .images .centered-container .center-image:before {
          background: $theme_yellow;
          background: linear-gradient(90deg, $theme_yellow 0%, $theme_yellow_darkest 100%);
        }
      }

      &.slide-orange {
        .images .centered-container .center-image:before {
          background: $theme_orange;
          background: linear-gradient(90deg, $theme_orange 0%, $theme_orange_darkest 100%);
        }
      }

      &.slide-turquoise {
        .images .centered-container .center-image:before {
          background: $theme_turquoise;
          background: linear-gradient(90deg, $theme_turquoise 0%, $theme_turquoise_darkest 100%);
        }
      }

      &.slide-pink {
        .images .centered-container .center-image:before {
          background: $theme_pink;
          background: linear-gradient(90deg, $theme_pink 0%, $theme_pink_darkest 100%);
        }
      }

      // INDEX BASED STYLES

      &[data-index="-4"], &[data-index="-3"], &[data-index="-2"], &[data-index="2"], &[data-index="3"], &[data-index="4"] {
        opacity: 0;
      }

      &[data-index="-2"] {
        transform: translateX(-100vw) scale(0.8);
      }

      &[data-index="-1"] {
        transform: translateX(-50vw) scale(0.8);
      }

      &[data-index="0"] {
        z-index: 15;
        opacity: 1;
        transform: translateX(0) scale(1);

        .images{
          opacity: 1;
          transition-delay: 0.2s;

          .centered-container {
            > div {
              transition-delay: 0.2s;
            }

            .play-container {
              transform: translateY(0);
              transition: transform 0.6s ease-out 0.5s;
              svg.play-icon {
                opacity: 0.8;
                transform: scale(0.5);
                fill: white;
                transition: transform 0.6s ease-out 0.5s, opacity 0.5s ease-in-out 0.5s;
              }
            }

            .front-border {
              transform: translate(10px, 10px);
            }
            .center-image {
              transform: translate(0px, 0px);
            }
            .back-box {
              transform: translate(-10px, -10px);
            }
          }
        }

        .slide.slide-light {
          opacity: 1;

          .play-container {
            transform: scale(0.7);

            svg.play-icon {
              opacity: 1;
            }
          }
        }

        &.slide-blue {
          .images .centered-container .center-image:before {
            background: $theme_blue;
            background: linear-gradient(90deg, $theme_blue 0%, $theme_blue_darkest 100%);
          }
          .slide-light {
            background: $theme_blue;
          }

          .slide-shadow {
            background: $theme_blue_darker;
          }

          .slide-dropdown {
            background: $theme_blue_darkest;
          }
        }

        &.slide-purple {
          .images .centered-container .center-image:before {
            background: $theme_purple;
            background: linear-gradient(90deg, $theme_purple 0%, $theme_purple_darkest 100%);
          }
          .slide-light {
            background: $theme_purple;
          }

          .slide-shadow {
            background: $theme_purple_darker;
          }

          .slide-dropdown {
            background: $theme_purple_darkest;
          }
        }

        &.slide-yellow {
          .images .centered-container .center-image:before {
            background: $theme_yellow;
            background: linear-gradient(90deg, $theme_yellow 0%, $theme_yellow_darkest 100%);
          }
          .slide-light {
            background: $theme_yellow;
          }

          .slide-shadow {
            background: $theme_yellow_darker;
          }

          .slide-dropdown {
            background: $theme_yellow_darkest;
          }
        }

        &.slide-orange {
          .images .centered-container .center-image:before {
            background: $theme_orange;
            background: linear-gradient(90deg, $theme_orange 0%, $theme_orange_darkest 100%);
          }
          .slide-light {
            background: $theme_orange;
          }

          .slide-shadow {
            background: $theme_orange_darker;
          }

          .slide-dropdown {
            background: $theme_orange_darkest;
          }
        }

        &.slide-turquoise {
          .images .centered-container .center-image:before {
            background: $theme_turquoise;
            background: linear-gradient(90deg, $theme_turquoise 0%, $theme_turquoise_darkest 100%);
          }
          .slide-light {
            background: $theme_turquoise;
          }

          .slide-shadow {
            background: $theme_turquoise_darker;
          }

          .slide-dropdown {
            background: $theme_turquoise_darkest;
          }
        }

        &.slide-pink {
          .images .centered-container .center-image:before {
            background: $theme_pink;
            background: linear-gradient(90deg, $theme_pink 0%, $theme_pink_darkest 100%);
          }

          .slide-light {
            background: $theme_pink;
          }

          .slide-shadow {
            background: $theme_pink_darker;
          }

          .slide-dropdown {
            background: $theme_pink_darkest;
          }
        }

        .slide.slide-light {
          height: 5%;
          bottom: 20%;
        }

        .slide.slide-shadow {
          height: 10%;
          bottom: 15%;
        }

        .slide.slide-dropdown {
          height: 25%;
          h2 {
            opacity: 1;
          }
        }
      }

      &[data-index="1"] {
        transform: translateX(50vw) scale(0.8);
      }

      &[data-index="2"] {
        transform: translateX(100vw) scale(0.8);
      }

      // GENERAL SLIDE STYLES

      .slide {
        height: 100%;
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        transition: all 0.3s ease-out;

        &.slide-light {
          z-index: 10;
          height: 15%;
          box-shadow: none;
          display: flex;
          justify-content: center;
        }

        &.slide-shadow {
          z-index: 9;
          height: 15%;
          box-shadow: none;
        }

        &.slide-dropdown {
          z-index: 8;
          height: 15%;

          h2 {
            position: absolute;
            bottom: 0;
            font-size: calc(5vh - 50%);
            text-transform: uppercase;
            color: #fff;
            text-shadow: 0 3px 3px rgba(0.5, 0.5, 0.5, 0.2);
            width: calc(100% - 1em);
            margin-bottom: 0.5em;
            margin-left: 0.6em;
            font-family: $header_font_stack;
            font-weight: 400;
            line-height: 1em;
            opacity: 0;
            z-index: 12;

          }
        }
      }

      .images {
        height: 80%;
        width: 100%;
        position: absolute;
        bottom: 0;
        opacity: 0;
        transition: all 0.2s ease-in-out;

        .centered-container {
          width: 70%;
          margin: 0 auto;
          position: relative;
          height: 80%;

          @media screen and (min-width: $micro_screen_width) {
            width: 80%;
          }

          > div {
            height: 100%;
            width: 100%;
            position: absolute;
            transition: all 0.5s ease-in-out;
          }

          .play-container {
            display: flex;
            justify-content: center;
            align-items: center;
            transition: all 0.4s ease-out;
            transform: translateY(5%);
            z-index: 10;

            svg.play-icon {
              margin: auto;
              opacity: 0;
              position: absolute;
              top: 50%;
              bottom: 50%;
              transform: scale(0.5);
              fill: white;
              transition: all 0.5s ease-out;
            }

          }

          .front-border {
            border: white 5px solid;
            transform: translate(0px, 100%);
            z-index: 3;
          }

          .center-image {
            z-index: 2;
            background-size: cover;
            height: 100%;
            transform: translate(0px, 100%);

            &:before {
              content: '';
              position: absolute;
              top: 0;
              bottom: 0;
              width: 100%;
              height: 100%;
              opacity: 0.5;
              mix-blend-mode: darken;
            }
          }

          .back-box {
            background-color: black;
            transform: translate(0px, 100%);
            z-index: 1;
          }
        }
      }

    }

    @media screen and (orientation: landscape) and (max-height: $tiny_screen_width) {
      .slide-container {
        height: 60vh;

        &[data-index="0"] {
          .slide.slide-light {
            height: 5%;
            bottom: 25%
          }

          .slide.slide-shadow {
            height: 10%;
            bottom: 20%;
            opacity: 0;
          }

          .slide.slide-dropdown {
            height: 30%;
          }
        }

        .slide.slide-dropdown h2 {
          font-size: 300%;
          margin-bottom: 0.5rem;
          margin-left: 0.7rem;
        }

      }
    }

    @media screen and (min-width: $micro_screen_width) {
      max-width: $tablet_slider_width;

      .slide-container {
        width: $tablet_slider_width;
      }
    }

      @media screen and (min-width: $small_screen_width) {
      max-width: $desktop_slider_width;

      .slide-container {
        width: $desktop_slider_width;

        &[data-index="0"] .images .centered-container {
          .front-border {
            transform: translate(20px, 20px);
          }
          .center-image {
            transform: translate(0px, 0px);
          }
          .back-box {
            transform: translate(-20px, -20px);
          }
        }
      }
    }

    #miracle {
      .center-image {
        background-image: url('../media/img/home/miracle_thumb.png');
      }
    }

    #mala-sang {
      .center-image {
        background-image: url('../media/img/home/mala-sang_thumb.png');
      }
    }

    #estres {
      .center-image {
        background-image: url('../media/img/home/estres_thumb.png');
      }
    }

    #bestia {
      .center-image {
        background-image: url('../media/img/home/bestia_thumb.png');
      }
    }

    #nord {
      .center-image {
        background-image: url('../media/img/home/nord_thumb.png');
      }
    }

    #nica {
      .center-image {
        background-image: url('../media/img/home/nica_thumb.png');
      }
    }

    #el-gest {
      .center-image {
        background-image: url('../media/img/home/el-gest_thumb.png');
      }
    }

    #gira-sol {
      .center-image {
        background-image: url('../media/img/home/girasol_thumb.png');
      }
    }

    #la-posta {
      .center-image {
        background-image: url('../media/img/home/la-posta_thumb.png');
      }
    }

  }
}